rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isAdmin() {
      return isSignedIn() && exists(/databases/$(database)/documents/admin_roles/$(request.auth.uid));
    }
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /products/{productId} {
      allow get, list: if true;
      allow write: if isAdmin();
    }
    match /admin_roles/{adminUid} {
      allow get: if isSignedIn();
      allow list: if isAdmin();
      allow create: if isSignedIn() && request.auth.uid == adminUid;
      allow update, delete: if isAdmin() && request.auth.uid == adminUid;
    }
    match /storeSettings/mainSettings {
      allow get: if isSignedIn();
      allow write: if isAdmin();
    }
    match /publicDisplaySettings/theme {
      allow get, list: if true;
      allow write: if isAdmin();
    }
    match /userProfiles/{userId} {
      allow get, write: if isOwner(userId);
      allow list: if isAdmin();
    }
    match /orders/{orderId} {
      allow create: if isSignedIn();
      allow get: if isSignedIn() && (request.auth.uid == resource.data.userId || isAdmin());
      allow list: if isAdmin();
    }
  }
}
